{% extends "base.html" %} {% block content %}
<div class="queries-container">
  <h1>Business Intelligence Queries</h1>
  <ul class="query-list">
    <li><a class="query-link" href="/query1">Top 20 Products per Store</a></li>
    <li><a class="query-link" href="/query2">Top 20 Products per State</a></li>
    <li><a class="query-link" href="/query3">Top 5 Stores This Year</a></li>
    <li><a class="query-link" href="/query4">Sony vs Samsung</a></li>
    <li>
      <a class="query-link" href="/query5">Top Complementary Purchases</a>
    </li>
  </ul>
</div>
{% endblock %}
